.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.input {
  border-radius: 10px;
  height: 50px;
  width: 250px;
}
.btn {
  width: 200px;
}
