.ant-layout.ant-layout-has-sider {
  height: 100% !important;
}
h1 {
  color: white;
}
.logo {
  height: 32px;
  margin: 16px;
  display: flex;
  justify-content: center;
}
.content {
  padding: 24px;
  min-height: 280px;
}
